spark.sql.catalog.udp=org.apache.iceberg.spark.SparkCatalog
spark.sql.catalog.udp.type=rest
spark.sql.catalog.udp.uri=${ICEBERG_REST_URI}
spark.sql.catalog.udp.warehouse=${ICEBERG_WAREHOUSE}
spark.sql.catalog.udp.io-impl=org.apache.iceberg.aws.s3.S3FileIO
spark.sql.catalog.udp.s3.endpoint=${S3_ENDPOINT}
spark.sql.catalog.udp.s3.path-style-access=true
spark.sql.defaultCatalog=udp
spark.hadoop.fs.s3a.endpoint=${S3_ENDPOINT}
spark.hadoop.fs.s3a.access.key=${AWS_ACCESS_KEY_ID}
spark.hadoop.fs.s3a.secret.key=${AWS_SECRET_ACCESS_KEY}
spark.hadoop.fs.s3a.path.style.access=true
spark.hadoop.fs.s3a.connection.ssl.enabled=false
