CREATE EXTERNAL CATALOG IF NOT EXISTS iceberg_catalog
PROPERTIES
(
    "type" = "iceberg",
    "iceberg.catalog.type" = "rest",
    "iceberg.catalog.uri" = "${ICEBERG_REST_URI}",
    "aws.s3.endpoint" = "${S3_ENDPOINT}",
    "aws.s3.access_key" = "${AWS_ACCESS_KEY_ID}",
    "aws.s3.secret_key" = "${AWS_SECRET_ACCESS_KEY}",
    "aws.s3.enable_path_style_access" = "true",
    "aws.s3.region" = "${AWS_REGION}"
);
